/* Тут я чуть чуть добавил стилей, базу уже знаю но лень писать) */

* { /* Применить к всему коду */
    margin: 0; /* Внешний отступ, обнулил общий*/
    padding: 0; /* Внутренний отступ, обнулил общий */
    background: #000; /* Задний фон, можно задавать комбинировано, с картикой и т.д., как и в большенстве других */
    color: white; /* Просто цвет текста */
    text-align: center; /* Просто задал по центру текст */

}

header { /* Стили для хедера */ 
    background-color: rgb(94, 53, 0); /* Отдельно цвет */
    min-height: 80px; /* Минимальная высота */
}

/* Sass писать умею, JS ещё учу :) */