/* Додав вот такий прикол ;) */
html {
    margin: 0;
    height: 100%;
    background: linear-gradient(50deg, #d84389, #e0d250);
    background-size: 300%;
    animation: gradimation 5s ease infinite;
}
table, td {
    border: 0.5px dashed white;
}
@keyframes gradimation {
    0% {
        background-position: 0 50%;
    }
    25% {
        background-position: 50% 75%;
    }
    50% {
        background-position: 75% 50%;
    }
    75% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 0 50%;
    }
}
/* Ну, як ви могли помітити я не 0. Я вже вчив html, css, трішки js і php(php все позабував, бо давно вчив). Сподіваюсь навчитись багато чому новому на цьому курсі :) */